<% if notice %>
<p id="notice"><%= notice %></p>
<% else %>
  <% if @response.coming %>
    <h1>Thank you!</h1>
    <p>We can't wait to see you!</p>
  <% else %>
    <h2>Thanks</h2>
    <p>Sorry you can't make it, but thanks for responding.</p>
  <% end %>
<% end %>
